<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="fftest">
  <parameter name ="browser" value="firefox"/>
    <classes>
      <class name="SAS.Login"/>
    </classes>
    </test>
    <test thread-count="5" name="chrometest">
  <parameter name ="browser" value="chrome"/>
    <classes>
      <class name="SAS.Login"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
